body{
    background-image: url(../img/books.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
input::placeholder{
    text-align: center;
}
#btn-submit{
    margin: 0 auto !important;
}
.h-100{
    height: 100% !important;
}
form{
    position: relative;
    top: 50%;
    left: 15%;
    width: 30%;
    text-align: center;
}