*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'danst';
    src: url(../fonts/danstevis.otf);
}
body{
    font-family: 'danst' !important;
    background-color: rgb(245, 226, 173) !important;
    /* background-image: url("../img/R (1).jfif"); */
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    width: 40%;
    margin: 0 auto;
}
input{
    border: 1px solid gray !important;
    background-color: rgb(255, 255, 255) !important;
    /* box-shadow:  0 0 20px rgba(255, 99, 71, 0.671); */
}
.radius{
    border-radius: 40px !important;
}
label{
    color: green;
}
.hover{
    transition: .5s !important;
}
.hover:hover{
    transform: scale(1.3) !important;
    transition:  .3s !important;
}

.brown{
    color: brown !important;
}
.bg-brown{
    background-color: brown !important;
}
.creem{
    color: rgb(245, 226, 173) !important;
}
.bg-creem{
    background-color: rgb(245, 226, 173) !important;

}
a{
}