input{
    border: 1px solid black !important;
}
input::placeholder{
    color: black !important;
}
h2{
    color: brown;
    text-shadow: 0px 0px 4px white;
    font-weight: bold;
}
b{
    background-color: tomato !important;
    color: white !important;
    border-radius: 20px;
    font-size: 12px;
    width: 60% !important;
}